p{
    color:blue;

}
.firstP{
    font-style: italic;
    color:black;
    font-weight:bold;
    border-style:dashed;
    border-width: 100%;
}
/*can specify what type of class by p.firstP or div.firstP*/


/*give something specific some character with an ID attribute*/
#IDName{
    text-align: center;
    color:black;
    background-color:aliceblue;
}